*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-size-heading : clamp(1.1rem,1.8vw,2rem);
    --font-size-text : clamp(1rem,2vw,1.2rem);

    --primary-clr-sb : 231 69% 60%;
    --primary-clr-sr : 0 94% 66%;

    --secondary-clr-gb: 229 8% 60%;
    --secondary-clr-vdb: 229 31% 21%;
    --secondary-clr-blue : 231 69% 60%;

    --font-color-grey : 231 44% 94%;

    --button-default-padding: .5em 1em;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    user-select: none;
    color: hsl(229, 31%, 21%);
    overflow-x: hidden;
}
.wrapper{
    min-height: 100vh;
    overflow-x: hidden;
}
img{
    display: block;
    width: 100%;
}
ul{
    display: flex;
    gap: clamp(1rem,3vw,2.3rem);
    align-items: center;
}
li{
    list-style-type: none;
}
a{
    color: hsl(var(--secondary-clr-vdb));
    text-decoration: none;
}
a:focus{
    outline: none;
}
a:hover{
    color: hsl(var(--primary-clr-sr));
}
nav{
    display: flex;
    padding-inline: 2em;
    padding-block-start: 1em;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    font-size: var(--font-size-text);
}
.logo img{
    width: 175px;
    height: 35px;
}
.links{
    margin-left: auto;
}
.log-in-btn{
    background-color: hsl(var(--primary-clr-sr));
    border:2px solid transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.log-in-btn a{
    display: block;
    padding: var(--button-default-padding);
    color: white;
}
.log-in-btn:hover{
    background-color: white;
    border-color: hsl(var(--primary-clr-sr));
}
.log-in-btn:hover a{
    color:hsl(var(--primary-clr-sr));
}
.hamburger{
    display: none;
    margin-left: auto;
    cursor: pointer;
    transform: scale(1.2);
    transition:all 200ms linear;
}
.hamburger:hover{
    transform: scale(1.7,1.2);
}
@media (max-width: 660px) {
    .hamburger{
        display: block;
    } 
    .links{
        display: none;
    }
}
/* hero section */
.hero{
    margin: 0 auto;
    margin-block-start: 3em;
    display: flex;
    width:90%;
    align-items: center;
}
@media (max-width: 610px) {
    .hero{
        flex-direction: column;
        gap: 4em;
    }
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
@media (max-width: 610px) {
    .hero-left{
        order: 2;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
}
.hero-left-infos{
    display: flex;
    flex-direction: column;
    width: 83%;
    gap: 1em;     
}
.hero-left-infos h1{
    font-size: var(--font-size-heading);
}
@media (max-width: 610px) {
    .hero-left-infos h1{
        text-align: center;
    }
}
.hero-left-infos p{
    line-height: 1.5;
    color: hsl(var(--secondary-clr-gb));
    font-size: var(--font-size-text)
}
.hero-left-buttons{
    display: flex;
    gap: 1em;
}
.hero-left-buttons a{
    border: 2px solid transparent;
    padding: var(--button-default-padding);
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--font-size-text);
}
.hero-left-buttons__chrome{
    background-color: hsl(var(--secondary-clr-blue));
    color: hsl(var( --font-color-grey));
}
.hero-left-buttons__chrome:hover{
    border-color: hsl(var(--secondary-clr-blue));
    color: hsl(var(--secondary-clr-blue));
    background-color: transparent;
}
.hero-left-buttons__firefox{
    background-color: hsl(0 0% 95%);
    color: hsl(var(--secondary-clr-vdb));
}
.hero-left-buttons__firefox:hover{
    border-color: hsl(var(--secondary-clr-vdb));
    color: hsl(var(--secondary-clr-vdb));
    background-color: transparent;
}
.hero-right{
    width: 100%;
}
@media (max-width: 610px) {
    .hero-right{
        width: 60%;
    }
}
.hero-img{
    position: relative;
}
.hero-img::after{
    content: '';
    position: absolute;
    top: 40%;
    right: 0;
    width: 65%;
    height: 65%;
    background-color: hsl(var(--secondary-clr-blue));
    border-radius: 50% 0 0 50%;
    z-index: -1;
}
/* features section */
.features-and-tabs{
    display: flex;
    flex-direction: column;
    margin-block-start: 4.3em;
    margin-block-end: 7.7em;
    gap: 2em;
    color: hsl(var(--secondary-clr-gb));
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0 auto;
}
.features h2{
    color: black;
    margin-block-end: 1em;
}
.features p{
    text-align: center;
    line-height: 1.5;
    font-size: var(--font-size-text);
}
.tabs{
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    padding-inline: 1em;
}

.tabs-nav{
    display: flex;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}
@media (max-width: 546px) {
    .tabs-nav{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}
.tabs-nav p{
    cursor: pointer;
    padding-block: 1em;
    padding-inline: 1.3em;
    border-bottom: 1px solid hsl(var(--secondary-clr-gb));
    font-size: clamp(1rem,2vw,1.3rem)
}
@media (max-width: 546px) {
    .tabs-nav p{
        flex-direction: column;
        font-size: 1.3rem
    }
}
.tabs-nav p:hover{
    color: hsl(var(--primary-clr-sr));
}
.active-tab-nav.active-tab-nav{
    color: black;
    border-bottom: 3px solid hsl(var(--primary-clr-sr));
}
.tab-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
@media (max-width: 610px) {
    .tab-infos{
        flex-direction: column;
        width: 100%;
    }
}
.tab-infos-left{
    position: relative;
    width: 50%;
}
.tab-infos-left::before{
    content: '';
    position: absolute;
    top:28%;
    left: 0;
    width: 70%;
    height: 90%;
    background-color: hsl(var(--secondary-clr-blue));
    border-radius: 0 40% 40% 0;
    z-index: -1;
}
.tabs-img{
    margin-left: clamp(3rem,3vw,8rem);
}
.tab-infos-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 35%;
    margin-right: 1.3em;
}
@media (max-width: 610px) {
    .tab-infos-right{
        align-items: center;
        width: 60%;
        margin-inline: auto ;
        margin-top: 85px;
    }
}
.tab-infos-right h3{
    color: black;
    font-size: var(--font-size-heading);
}
.tab-infos-right p{
    line-height: 1.6;
    font-size: var(--font-size-text);
}
@media (max-width: 610px) {
    .tab-infos-right p{
        text-align: center;
    }
}
.tab-infos-right a{
    background-color: hsl(var(--secondary-clr-blue));
    color: white;
    width: max-content;
    padding: var(--button-default-padding);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.tab-infos-right a:hover{
    background-color: transparent;
    border-color: hsl(var(--secondary-clr-blue));
    color: hsl(var(--secondary-clr-blue));
}
/* download extension section */
.download-extension{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 5em;
    gap: 3em;
}
.download-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
    margin: 0 auto;
}
.download-infos h3{
    font-size: var(--font-size-heading);
    width: max-content;
}
.download-infos p{
    text-align: center;
    line-height: 1.6;
    font-size: var(--font-size-text);
}

.download-links{
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: clamp(1rem,3vw,2.5rem);
}
@media (max-width: 610px) {
    .download-links{
        flex-direction: column;
    }
}
.extensions{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 1em;
    padding: 1em;
    padding-bottom: 2em;
    box-shadow: 
      3px 13px 10px hsl(0 0% 75%),
      -10px -10px 0px white;
}   
@media (max-width: 946px){
    .extensions{
        padding: 0;
        padding-bottom: 2em;
    }
}
.extensions a{
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: hsl(var(--secondary-clr-blue));
    color: white;
    margin-block-start: 1em;
    padding: var(--button-default-padding);
    cursor: pointer;
}
.extensions a:hover{
    background-color: transparent;
    border-color: hsl(var(--secondary-clr-blue));
    color: hsl(var(--secondary-clr-blue));
}
.download-logo{
    width: 60%;
    padding: 2em;
    padding-bottom: 0;
}
.download-texts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: 0 3em 2em 3em;
    border-image: url('images/bg-dots.svg');
    border-image-slice: 15;
    border-image-width: 0 0 4px 0;
    border-image-repeat: stretch;
}
.download-texts p:first-child{
    font-size: 1.2rem;
    font-weight: 600;
}
.download-texts p:last-child{
    font-size: .9rem;
    color: hsl(var(--secondary-clr-gb))
}
.firefox-extension{
    margin-block-start: 3em;
}
.opera-extension{
    margin-block-start: 5em;
}
/* FAQ questions */
.FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    margin-block-start: 5em;
    gap: 4em;
    color: hsl(var(--secondary-clr-gb))
}
@media (max-width : 400px) {
    .FAQ{
        width: 100%;
    }
}
.FAQ-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.FAQ-title h3{
    color: black;
    font-size: var(--font-size-heading);
}
.FAQ-title p{
    font-size: 1em;
    width: 85%;
    text-align: center;
    line-height: 24px;
    font-size: var(--font-size-text);
}
.FAQ-questions{ 
    display: flex;
    flex-direction: column; 
    width: 100%;
}
.FAQ-questions > div:first-child{
    border-block-start: 1px solid hsl(var(--secondary-clr-gb));
}
.FAQ-questions > div:last-child{
    border-block-end: 1px solid hsl(var(--secondary-clr-gb));
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.questions + .questions{
    border-block-start: 1px solid hsl(var(--secondary-clr-gb));
}

.question-name{
    display: flex;
    flex-direction: column;
    padding: 1.3em ;
    gap: 1em;
    color: hsl(var(--secondary-clr-gb));
    transition: all 200ms linear;
}

.active-question .expand-button{
    transform: rotate(180deg);
}

.question-name__first-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.question-name__first-row h4{
    color: hsl(var(--secondary-clr-vdb));
    font-size: var(--font-size-heading);
}
.expand-button{
    cursor: pointer;
}
.expand-button img{
    width: 18px;
    height: 12px;
}
.answer{
    display: none;
    line-height: 1.5;
    font-size: var(--font-size-text); 
}
.more-info-btn{
    margin-top: -1em;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: hsl(var(--secondary-clr-blue));
    color: white;
    cursor: pointer;
}
.more-info-btn a{
    display: block;
    color: white;
    padding: var(--button-default-padding);
}
.more-info-btn:hover{
    background-color: transparent;
    border-color: hsl(var(--secondary-clr-blue));
}
.more-info-btn:hover a{
    color: hsl(var(--secondary-clr-blue));
}
/* news letter */
.news-letter{
    margin-top: 3em;
    background-color: hsl(var(--secondary-clr-blue));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em 1em 5em 1em;
}
.new-letter-infos{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.new-letter-infos p:first-child{
    font-size: .8rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.new-letter-infos p:last-child{
    text-align: center;
    font-size: 1.8rem;
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
}
.contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 50%;
    margin: 0 auto;
}
@media (max-width: 938px) {
    .contact-box{
        width: 70%;
    }
}
@media (max-width: 500px) {
    .contact-box{
        width: 90%;
    }
}
input[type="email"]{
 width: 60%;
 height: 45px;
 font-size: clamp(0.8rem,3vw,1rem);
 padding: var(--button-default-padding);
 border: none;
 border-radius: 5px;
}
input[type="email"]:focus{
    outline: none;
}
.contact-us-btn{
    height: 45px;
}
input[type="submit"]{ 
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: clamp(0.8rem,3vw,1rem);
    font-weight: bold;
    background-color: hsl(var(--primary-clr-sr));
    color: white;
    padding-inline: 1em;
    cursor: pointer;
}
input[type="submit"]:hover{
    border-color: hsl(var(--primary-clr-sr));
    background-color: transparent;
    color: hsl(var(--primary-clr-sr));
}
/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--secondary-clr-vdb));
    padding: 2em 10%;
}
.logo-image{
    width: 180px;
}
.footer-links a{
    color: hsl(var(--secondary-clr-gb))
}
.footer-links a:hover{
    color: hsl(var(--primary-clr-sr));
}
.footer-left{
    display: flex;
    gap: 3em;
}
.footer-links{
    display: flex;
}
.footer-right{
    margin-left: auto;
}
.social-media-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.social-media-links > *:hover{
    cursor: pointer;
}
.social-media-links img{
    width: 24px;
    height: 24px;
}
.mobile-nav{
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 1em;
    background-color: hsl(var(--secondary-clr-vdb) / 0.9);
    transform: translateX(100%);
    transition: all 260ms linear;
}
.active-mobile-nav{
    transform: translateX(0%);
}
.mobile-nav--first-row{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-inline: 1em;
    align-items: center;
}
.mobile-nav--first-row .close-btn{
    cursor: pointer;
    transition: all 260ms linear;
    transform: scale(1.5);
}

.mobile-nav--first-row .close-btn:hover{
    transform: scale(1.2)
}
.mobile-nav-links ul{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.mobile-nav-links li{
    width: 100%;
    text-align: center;
    border-top: 1px solid hsl(var( --font-color-grey) / .6);
    padding-block: 0.2em;
}
.mobile-nav-links a{
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8em 2em;

}
.mobile-nav-log-in-btn a{
    width: 90%;
    display: inline-block;
    border: 3px solid hsl(var( --font-color-grey) / .6  );
    border-radius: 8px;
    margin-top: 25px;
}
.mobile-nav-social-media-links{
    display: flex;
    gap: 2em;
    margin-inline: auto;
    margin-top: auto;
    margin-bottom: 10px;
}
.mobile-nav-social-media-links svg{
    width: 30px;
    height: 50px;
    transform: scale(1.3);
    cursor: pointer;
}
.mobile-nav-social-link:hover path{
    fill: rgb(223, 35, 35);
}
@media (max-width: 770px) {
    .footer{
        flex-direction: column;
        gap: 2em;
    }
    .footer-right{
        margin-inline: auto;
    }
}
@media (max-width: 530px) {

    .footer-left{
        display: flex;
        flex-direction: column;
    }
}
